/*Custom Fonts*/
@font-face {
	font-family: 'acmesa';
	src: url("../fonts/acmesa.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'acmesab';
	src: url("../fonts/acmesab.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'acmesai';
	src: url("../fonts/acmesai.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*Main webpage boundaries*/

#container{
	position: relative; 
	margin: auto ;
	width: 900px;
	height: 800px;
	background-color: #2E2E2E;
}

/*Header Title*/
#header{
	background: transparent;
	border: solid white 1px;
	width: 800px;
	margin-left: 50px;
	margin-top: 100px;
}

#header h1{
	font-family: acmesab;
	text-align: center;
	font-size: 32px;
	color: skyblue;
}

#textbody{
	background:black;
	border: dashed white 1px;
	width: 800px;
	margin: auto;
}
#textbody h2{
	font-family: acmesa;
	font-size: 18px;
	color: limegreen;
}
/*Top bar wrapper*/
.wrapper {
    width: 100%;
    height: 80px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
}

/*Webpage background*/
body{
	background-image: url("../images/background.jpg");
}
/*Top menu bar*/

ul {
    margin: 0;
    padding: 0;
	list-style: none;
	font-family: acmesa;
	text-decoration: none;
}
 
ul.menu {
    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float: right;
}
 
ul.menu li {
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }
 
ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 1000ms;
    -moz-transition-property: background;
    -moz-transition-duration: 1000ms;
    }
 
ul li a:hover {
    background: transparent none;
}
 
ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(244,31,31,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}


